@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_mixins.scss";
@import "src/assets/scss/_extends.scss";

.form-booking {
  position: relative;
  max-width: 1170px;
  padding: 40px;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  &__top {
    margin-bottom: 30px;
    @include responsive(tablet) {
      @include flex(null,center);
    }
    @include responsive(small-desktop) {
      @include flex();
    }

    &__item {
      margin-right: 40px;
      @include multiple-responsive(small-tablet, mobile, small-mobile) {
        margin-top: 15px;
        margin-right: 0;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  &__bottom {
    margin-bottom: 30px;
    @include multiple-responsive(
      small-desktop,
      tablet,
      small-tablet,
      mobile,
      small-mobile
    ) {
      @include flex(space-between, center);
      flex-wrap: wrap;
    }
    @include responsive(medium-desktop) {
      @include flex(space-between);
    }

    &__item {
      @include multiple-responsive(tablet, small-tablet, mobile, small-mobile) {
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      @include responsive(small-desktop) {
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include responsive(medium-desktop) {
        width: calc(100% / 3 - 15px);
      }
    }
  }
  &__description {
    @include text(SFProDisplay-Regular, 14px, $midnight-moss, 1.43);
    margin-bottom: 20px;
    span {
      font-family: SFProDisplay-Bold;
    }
  }
  &__btn-submit {
    position: absolute;
    width: 370px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    @include multiple-responsive(small-mobile, mobile, small-tablet) {
      width: 200px;
    }
  }
}
