@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_mixins.scss";
@import "src/assets/scss/_extends.scss";

.header-page {
  @include flex();
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 270px);
  max-width: 1170px;
  padding: 21px 135px 37px;
  z-index: 2;
  &__hello {
    position: absolute;
    top: 151px;
    left: 127px;
    @include text(SFProDisplay-Regular, 34px, $midnight-moss, 1.44);
    letter-spacing: 0;
    @include responsive(small-tablet) {
      padding-right: 127px;
      top: 111px;
      line-height: 1.33;
      font-size: 30px;
    }
    @include responsive(tablet) {
      padding-right: 127px;
    }

    span {
      font-family: SFProDisplay-Bold;
    }
  }
}
