.react-datepicker-popper {
  .react-datepicker {
    .react-datepicker__triangle {
      display: none;
    }
  }
}

.rc-time-picker {
  .rc-time-picker-input {
    border: 0;
    outline: none;
    padding: 0;
  }
}

.rc-time-picker-panel-narrow {
  max-width: none;
  .rc-time-picker-panel-select {
    width: 50%;
  }
}
